version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: banco-postgres
    restart: always
    environment:
      POSTGRES_DB: bancodb
      POSTGRES_USER: joao
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
